<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="../static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div>
		<h1>Welcome to our gaming paradise! </h1>
	<p>
		<h3>We are now actively developing our site! You can enjoy the game "Bulls and Cows" below.</h3>
	</p>
	<p>
		<h5><a href="bulls_and_cows">⚔︎Bulls and Cows⚔︎</a></h5>
	</p>
	</div>
</body>
</html>